@media only screen and (max-width :922px) {
    #cari p {
        font-size: 18px;
        width: 90%;
    }

    .input-cari .button-secondary {
        width: 120px;
    }

    .button-fitur {
        width: 100%;
    }

    #kontak h3 {
        font-size: 30px;
        width: 100%;
    }

    .button-primary {
        display: block;
        width: 100%;
    }

    .button-secondary {
        display: block;
        width: 100%;
    }
}

@media only screen and (max-width : 576px) {
    .hero-tagline h1 {
        line-height: 52px;
    }

    .image-hero {
        height: 75%;
    }

    h2 {
        font-size: 35px;
    }

    .sub-title {
        font-size: 16px;
    }

    .card {
        margin: 15px 0;
    }

    #cari h2 {
        font-size: 42px;
    }

    .input-cari .button-secondary {
        width: 50%;
        height: 60px;
    }

    .input-cari .button-primary {
        height: 60px;
        width: 30%;
        font-size: 20px;
    }

    .card-contact {
        padding: 45px 15px ;
        height: auto;
    }
    

}

@media only screen and  (max-width : 300px) {
    .hero-tagline h1 {
        font-size: 32px;
        line-height: 42px;
    }

    .hero-tagline p {
        font-size: .8rem;
        line-height: 20px;
    }

    .image-hero {
        height: 50%;
    }

    #cari h2 {
        font-size: 30px;
    }

    #cari p {
        font-size: 16px;
        width: 100%;
    }
}
/* 
@media only screen and (min-width : 320px) {
    .hero-tagline h1 {
        color: black;
    }
} */





