@media only screen and (max-width :922px) {

}

@media only screen and (max-width : 576px) {
    .hero-tagline h1 {
        line-height: 52px;
    }

    .image-hero {
        height: 75%;
    }

    h2 {
        font-size: 35px;
    }

    .sub-title {
        font-size: 16px;
    }
}

@media only screen and  (max-width : 320px) {
    .hero-tagline h1 {
        font-size: 40px;
        line-height: 42px;
    }

    .hero-tagline p {
        font-size: .9rem;
        line-height: 20px;
    }

    .image-hero {
        height: 50%;
    }
}
/* 
@media only screen and (min-width : 320px) {
    .hero-tagline h1 {
        color: black;
    }
} */





